{% extends "base.html" %}
{% block title %}Access denied{% endblock %}
{% block body %}
<table class="panel">
  <tr>
    <th>Access denied</th>
  </tr>
  <tr>
    <td>
      <p class="error">You do not have permission to view this member.</p>
      <table class="fields">
        <tr>
          <td>Member ID</td>
          <td>{{ member_id }}</td>
        </tr>
      </table>
      <p><a class="button" href="/">Back to search</a></p>
    </td>
  </tr>
</table>
{% endblock %}
